.main{
    display: flex;
    width: 100%;
    justify-content: center;

}

.section{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.title{
    text-align: center;
    font-size: 2.6rem;
}

.form{
    display: flex;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bg-form);
}

.form > div{
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 10px;
    align-items: center;
}

.form > div > label{
    font-size: 1.6rem;

}

.form > div > input{
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
}


.btn{
    padding: 8px 15px;
    align-self: center;
    border-radius: 10px;
    background-color: var(--bg-header);
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
    display: inline-flex;
    width: fit-content;
    border: none;
    outline: none;
}
