.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}

.form {
  display: flex;
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  background-color: #edf7ff;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}

.btn {
  background-color: var(--bg-header);
  color: #fff;
}

.btn:hover {
  cursor: pointer;
  background-color: #ff0000;
  color: #fff !important;
  border-color: #fff !important;
}


