.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.form {
  display: flex;
  width: 500px;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  position: relative;
  height: fit-content;
  top: -30px;
}

.container_form{
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: #E8EDFF;
  /* background: var(--azul); */
  width: 560px;
}

.input{
  /* width: 100%; */
  height: 40px;
  border-radius: 0;
}


.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--azul);
  color: #fff;
  width: 100%;
  font-weight: 500;
  transition: opacity 0.2s ease scale 0.2s ease;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  scale: 0.99;
}


