.cuadro{
    display: flex;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
    gap: 20px;
}

.container_partido{
    display: block;
    margin: 10px 0;
    height: 80px;
    position: relative;
}

.partido{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    height: 80px;
}

.jugadores{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.jugadores > p{
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.resultado{
    font-size: 1.8rem;
    font-weight: bold;
}

.ronda{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
}
/* before de los partidos */
.ronda:not(:first-child) .container_partido::before{
    content: "";
    border-color: #999;
    display: block;
    width: 12px;
    left: -12px;
    position: absolute;
    border-top: 1px solid #999;
    top: 49%;
}
/* after de los partidos */

.ronda .container_partido::after {
    position: relative;
    width: 8px;
    border-right-style: solid;
    content: "";
    border-color: #999;
    display: block;
    border-width: 1px;
    left: 100%;
}

/* primera ronda */

.ronda:nth-child(1) .container_partido:nth-child(odd)::after {
    --height: 64px;
    height: var(--height);
    border-top-style: solid;
    top: -50%;
}

.ronda:nth-child(1) .container_partido:nth-child(even)::after {
    --height: 64px;
    height: var(--height);
    border-bottom-style: solid;
    top: calc(-50% - var(--height));
}
/* segunda ronda */

.ronda:nth-child(2) .container_partido:nth-child(odd)::after {
    --height: 128px;
    height: var(--height);
    border-top-style: solid;
    top: -50%;
}

.ronda:nth-child(2) .container_partido:nth-child(even)::after {
    --height: 128px;
    height: var(--height);
    border-bottom-style: solid;
    top: calc(-50% - var(--height));
}

/* tercera ronda */

.ronda:nth-child(3) .container_partido:nth-child(odd)::after {
    --height: 256px;
    height: var(--height);
    border-top-style: solid;
    top: -50%;
}

.ronda:nth-child(3) .container_partido:nth-child(even)::after {
    --height: 256px;
    height: var(--height);
    border-bottom-style: solid;
    top: calc(-50% - var(--height));
}

/* cuarta ronda */

.ronda:nth-child(4) .container_partido:nth-child(odd)::after {
    --height: 512px;
    height: var(--height);
    border-top-style: solid;
    top: -50%;
}

.ronda:nth-child(4) .container_partido:nth-child(even)::after {
    --height: 512px;
    height: var(--height);
    border-bottom-style: solid;
    top: calc(-50% - var(--height));
}