.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--heigth-header);
    background-color: var(--bg-header);
}

.burger{
    display: none;
}

.header a{
    user-select: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    padding: 10px 20px;
}

.nav img{
    max-height: 100%;
}

.ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
    align-items: center;
}

.li{
    list-style: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    font-size: 1.8rem;
    color: #fff;
    transition: scale 0.1s ease;
}

.li svg{
    height: 30px;
}

.register a{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin: 0;
    display: inline-flex;
}

.li:hover{
    scale: 0.95;
}

.li a{
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 6px;
    align-items: center;
}

.li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logout img{
    height: 50%;
}

.link_user{
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 100%;
}

.link_user img, .link_user svg{
    height: 50px;
}

.popover{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #fff;
    color: var(--bg-header)
}

.logout_popover{
    display: flex;
    user-select: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
}

.logout_popover:hover{
    cursor: pointer;
}

.logout_popover img, .logout_popover svg{
    height: 20px;
}

.link_user_popover{
    color: #000;
    text-decoration: none;
}

.link_user_popover:visited, .link_user_popover:active, .link_user_popover:hover{
    color: #000;
    text-decoration: none;
}


@media screen and (max-width: 700px) {
    .burger{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .burger svg{
        height: 60%;
    }

    .nav .ul{
        display: none;
    }

    .ul_drawer{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .ul_drawer .li{
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        color: #000;
        outline: 1px solid #000;
    }

    .li:hover{
        scale: 1;
    }

    .ul_drawer .li a{
        width: 100%;
        padding: 15px;
        margin: 0;
        justify-content: center;
        align-items: center;
        color: #000;
    }
}