.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--heigth-header);
    background-color: var(--bg-header);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    padding: 10px 20px;
}

.nav img{
    max-height: 100%;
}

.ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
    align-items: center;
}

.li{
    list-style: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    font-size: 1.8rem;
    color: #fff;
    align-items: center;
    transition: scale 0.1s ease;
    gap: 10px;
}

.register a{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin: 0;
    display: inline-flex;
}

.li:hover{
    scale: 0.95;
}

.li a{
    text-decoration: none;
    color: #fff;
}

.li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logout img{
    height: 50%;
}