.section{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 2.6rem;
    margin-top: 20px;
}

.form {
  display: flex;
  width: 500px;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  position: relative;
  height: fit-content;
  top: -30px;
}

.container_form{
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: #E8EDFF;
  width: 560px;
  margin-top: 30px;
}

.input{
  /* width: 100%; */
  height: 40px;
  border-radius: 0;
}


.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--azul);
  color: #fff;
  width: 100%;
  font-weight: 500;
  transition: opacity 0.2s ease scale 0.2s ease;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  scale: 0.99;
}

