.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section {
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  display: flex;
}

.error{
    background-color: #f00;
    color: #fff;
    font-size: 1.6rem;
    padding: 10px;
    text-align: center;
}

/* .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form > div{
    height: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.label{
    background: #0002;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #000;
    border-right: none;
    height: 100%;
}

.label img{
    width: 50px;
    height: 50px;
    max-height: 100%;
}

.form input{
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #000;
  outline: none;

  background: #fff;
  height: 100%;
  width: 100%;
}

.button{

  background: var(--bg-header);
  border: none;

  color: #fff;
  font-weight: 400;
  transition: background 0.3s ease;
  width: 100%;
}

.button:hover{
  cursor: pointer;
  background: #f00;
  color: #fff !important;
  border-color: none !important;
} */

.form {
  display: flex;
  width: 500px;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  position: relative;
  height: fit-content;
  top: -30px;
}

.container_form{
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: #E8EDFF;
  /* background: var(--azul); */
  width: 560px;
}

.input{
  /* width: 100%; */
  align-items: center;
  height: 40px;
  border-radius: 0;
}


.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--azul);
  color: #fff;
  width: 100%;
  font-weight: 500;
  transition: opacity 0.2s ease scale 0.2s ease;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  scale: 0.99;
}