.main{
    display: flex;
    width: 100%;
    justify-content: center;

}

.section{
    max-width: 400px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form{
    display: flex;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #00009977;
}

.form >div{
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 20px;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #88008899;
}

.form label {
    font-size: 1.6rem;
    font-weight: bold;
}

.form > div > input{
    align-self: flex-start;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.btn{
    width: 100%;
    align-self: center;
    background-color: var(--bg-header);
    color: #fff;
    border: none;
}

.btn:hover{
    cursor: pointer;
    color: #fff !important;
}