.main{
    display: flex;
    width: 100%;
    justify-content: center;

}

.section{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.opciones{
    display: flex;
    height: 45px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    outline: 1px solid #000;
}

.link_opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0 20px;
    background-color: var(--bg-header);
    border: none;
    color: #fff;
    font-size: 1.6rem;
    outline: 1px solid #000;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.link_opciones:hover, .selected{
    background-color: #fff;
    color: var(--bg-header);
}

.title{
    text-align: center;
    font-size: 2.6rem;
    font-weight: 500;
    margin:0;
    padding:10px;
    border-bottom: 1px solid #000;
}

.btn{
    padding: 8px 15px;
    align-self: flex-end;
    border-radius: 10px;
    background-color: var(--bg-header);
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    border: none;
    margin : 0;
}

.detalles{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dato{
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    /* border: 1px solid #000; */
    justify-content: space-between;
    font-size: 1.6rem;
    background-color: #eef;
}

.dato > p:first-child, .descripcion > p:first-child{
    font-weight: bold;
}

.descripcion{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    /* border: 1px solid #000; */
    justify-content: space-between;
    font-size: 1.6rem;
    background-color: #eef;
    grid-column: span 2;
}

p{
    margin: 0;
}