:root{
  --max-width: 1200px;
  --bg: #dedede;
  --bg-header: #ef2219;
  --heigth-header: 70px;
  --height-footer: 100px;
  --bg-form: #fff;
  --bg-input: #fff;
  --color-label: #000;
  --azul: #0500FF;
  --shadow_buttons: var(--shadow_buttons);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

img{
  max-width: 100%;
  max-height: 100%;
}

main{
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: calc(100dvh - var(--heigth-header) - var(--height-footer));
  padding: 50px 20px;
}

body{
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 680px) {
  html{
    font-size: 8px;
  }
}